@{
    ViewBag.Title = "About";
}

<div class="about-cind">
    <div class="container section-1">
        <h2 class="animated slideInLeft">Our Mission is simple</h2>
        <h4 class="animated slideInRight">
            "The goal of the network shall be to promote actions
            toward decreasing the incidence and impact of substance use disorders in Nigeria."
            <span style="display:block; padding-top:6em; ">
                <a style="color:red;font-size:25pt; " href="#"><i class="ion ion-chevron-down"></i></a>

            </span>
        </h4>
    </div>
    <div class="container section-2">
        <h3 style="padding-bottom:3em;">The CIND Initiative</h3>
        <div class="row">
            <div class="col s12 m3">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/img/dreamstime_xl_29022227.jpg" >
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">
                            Collaborate
                            <i class="ion ion-android-more-vertical right"></i>
                        </span>
                        @*<p><a href="#" class="btn btn">Learn more</a></p>*@
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Collaborate<i class="ion ion-close-round right"></i></span>
                        <p>
                            Facilitate collaboration between stake holders involved in prevention, treatment, rehabilitation and policy advocacy of substance abuse disorders.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col s12 m3">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/img/disseminate.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">
                             Disseminate
                            <i class="ion ion-android-more-vertical right"></i>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Disseminate<i class="ion ion-close-round right"></i></span>
                        <p>
                            Actively promote the dissemination of evidence based information on substance use disorder prevention, treatment and rehabilitation.

                        </p>
                    </div>
                </div>

            </div>
            <div class="col s12 m3">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/img/Engage-wider.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">
                             Engage
                            <i class="ion ion-android-more-vertical right"></i>
                        </span>
                        @*<p><a href="#" class="btn btn">Learn more</a></p>*@
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Engage<i class="ion ion-close-round right"></i></span>
                        <p>
                            Directly engage the wider community through evidence based high impact programs towards the elimination of barriers such as stigma.
                           
                        </p>
                    </div>
                </div>

            </div>
            <div class="col s12 m3">
                <div class="card hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/img/national_database.jpg" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator white-text text-darken-4">
                            Collate
                            <i class="ion ion-android-more-vertical right"></i>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Collate<i class="ion ion-close-round right"></i></span>
                        <p>
                            Build a national database of information useful towards the achievement of the above objectives.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    

    </div>

    <div class="container section-3">
        <h3>Board of trustees</h3>
        <div style="width: 45%; margin-left:auto; margin-right:auto; padding-top:5em; ">
            <div class="row">
                <div class="col s12 m6">

                    <img width="150" class="circle" src="~/img/Dr Ebiti.jpg" />
                    <p style="text-align:left; font-size:10pt">
                        <b>Dr. N.W Ebiti</b><br />
                        <i class="ion ion-ios-email-outline"></i>&nbsp;billebiti@mstonesfoundation.org<br />
                        <i class="ion ion-ios-telephone"></i>&nbsp;07032300802, 07063564081
                    </p>
                </div>
                <div class="col s12 m6 ">

                    <img width="190" class="circle" src="~/img/user-48.png" />
                    <p style="text-align:left; font-size:10pt">
                        <b>Prof. I. Obot</b><br />
                       <i class="ion ion-ios-email-outline"></i>&nbsp;billebiti@mstonesfoundation.org<br />
                        <i class="ion ion-ios-telephone"></i>&nbsp;07032300802, 07063564081
                    </p>

                </div>
            </div>




        </div>
    </div>
</div>
