
@{
    ViewBag.Title = "programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="padding:10em;">
    <h2 style="padding-bottom:1em; color:#d32f2f; text-align:center">
       Programs
    </h2>

   
    <p style="text-align:center">
        <i>**There are no sceduled programs at the momment**</i>
    </p>


</div>

